@import "./variables";

:export {
  MainFont: "Montserrat", sans-serif;
  CardFont: "IBM Plex Mono", monospace;

  whiteShade: #fff;
  PrimaryBlack: #282828;
  TableBlack: #303030;
  TableHeader: #121212;
  TableMenuBar: #1e1e1e;

  // Colors
  Gradient: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
}
