

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

  /* --------   Logo styles --------- */
  .coin-logo-container {
    @include flex(row, center, flex-start);
  }
  .coin-logo {
    width: 100%;
    height: 70%;
  }
  .coin-image-container {
    @include flex(row, center, flex-start);
    width: 15em;
    margin: 1rem;
    margin-left: 2rem;
  }
  
  /* --------   Form Input styles --------- */
  .coin-input-container {
    margin: 1rem 2rem;
    @include flex(row, center, flex-start);
  }
  .coin-search {
    // @include flex(row, center, space-between);
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }
  .coin-input {
    padding-left: 16px;
    outline: none;
    width: 30em;
    height: 42px;
    border-radius: 4px;
    border: none;
    color: #e2e2e2;
    font-size: 1em;
    background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    );
  }
  .coin-input:hover, .coin-input:focus {
    box-shadow: -3px -5px 10px #31363C, 3px 5px 10px #262A2E;
  }
  .coin-input::placeholder {
    color: #e2e2e2;
  }
  
  /* --------   Coin Image styles --------- */
  .coin__image {
    width: 25px;
    height: 25px;
    margin: auto 1em;
  }
  
  /* ----------  Pages styles ------------ */
  .coin-pages-container {
    @include flex(row, center, flex-start);
    h3 {
        font-weight: 500;
        font-size: 1em;
        margin: 0 1em;
        color: #707070;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover, &:focus {
            color: #fff;
            font-weight: 500;
        }
    }
  }
  .nav-active {
    h3  {
      color: #fff;
      opacity: 1;
      font-weight: 500;
    }
  }
 
  