$MainFont: "Montserrat", sans-serif;
$CardFont: 'Hanuman', serif;

$whiteShade: #fcfcfc;
$PrimaryBlack: #282828;
$TableBlack: #303030;
$TableHeader: #121212;
$TableMenuBar: #1e1e1e;
$NavbarWhite: #e2e2e2;
$QuickSilver: #A0A0A0;
$QuickSilver2 : #9F9F9F;
$Cultured: #F1F1F1;

$pinkShade: #ac32e4;
$violetShade: #7918f2;
$blueShade: #4801ff;
$LightPink: #CA7CEE;


$GreyBorderColor: rgb(47, 51, 54);