

@import "./navbar";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  // global links style reusable override
  a {
    text-decoration: none !important; 
    outline: none !important;
    color: inherit;
    &:hover {
        color: none;
    }
  }
  
  /*     ######   Scroll-bar    ######     */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  }
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }
  /*     ######   Scroll-bar    ######     */
  
  .coin-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 100vw;
    width: 100%;
  }

    /*     ######   MUI Override styles    ######     */
  .MuiAvatar-root {
    margin-left: 1.5em !important;
    background-color: #3B3B3B !important;
  }
  
  /* ##############    Mobile screens     ############ */
    @media screen and (min-width: 320px) and (max-width: 767px) {
    .coin-app {
      margin: 2rem auto;
      width: 100%;
      justify-content: space-evenly;
    }
    .coin-input {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      justify-content: space-evenly;
    }
    .crypto-container {
      width: 90vw;
      height: 100%;
    }
  }
  /* ##############    iPad     ############ */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .coin-app {
      /* margin: 5rem 6rem; */
      width: 100vw;
    }
    .crypto-container {
      width: 90vw;
      height: 100%;
    }
  }
  /* ##############    iPad pro     ############ */
   @media screen and (min-width: 1024px) and (max-width: 1366px) {
    .coin-app {
      margin: 0;
      /* margin-top: 50px; */
      max-width: 100vw;
      width: 100%;
    }
    .crypto-container {
      width: 90vw;
      height: 100%;
      /* margin: 0 auto; */
    }
  }
  
  /* ##############    Large monitors     ############ */
  @media screen and (min-width: 1367px) {
    .coin-app {
      margin: 0;
      max-width: 100vw;
      width: 100%;
    }
    .crypto-container {
      width: 90vw;
      height: 100%;
      /* margin: 0 auto; */
    }
  }