.coin-container {
    display: flex;
    justify-content: center;
    border: 1.8px solid #e2e2e2;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow:  2px 2px 10px #31363C, -2px -2px 10px #262A2E;
  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    /* border-bottom: 1px solid #d7d7d7; */
    width: 70vw;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 20rem;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 15.5rem;
    letter-spacing: 2.5px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coin-price {
    width: 110px;
  }
  
  .coin-volume {
    width: 155px;
  }
  
  .coin-marketcap {
    width: 230px;
  }
  .coin-marketcap span {
    font-weight: 700;
    color: #959799;
  }
  
  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }

  /* @media (min-width: 1024px) {

  } */

  @media (min-width: 768px) and (max-width: 1024px) {
    .coin-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      overflow-x: auto;
      /* margin: 5rem 6rem; */
      width: 80vw;
    }
    .coin-container {
        display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
 }
 @media (min-width: 360px) and (max-width: 823px) {
    .coin-row, .coin-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
      /* margin: 5rem 6rem; */
      width: 80vw;
      height: 20vh;
    }
    .coin {
        display: flex;
      /* flex-direction: column; */
      align-items: center;
        justify-content: space-evenly;
    }
    .coin-price, .coin-volume, .coin-percent, .coin-marketcap {
        display: flex;
        justify-content: left;
    }
    .coin-price {
        margin-top: 12px;
    }
    .coin-container {
        display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
 }