@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #1a1a1c; */
  background-color: #343a40;
  color: #fff;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.coin-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}
form {
  margin: 0 2rem;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.coin-input {
  padding-left: 16px;
  outline: none;
  width: 40rem;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: -3px -5px 10px #31363C, 3px 5px 10px #262A2E;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}



 @media (min-width: 768px) and (max-width: 1024px) {
      .coin-app {
        overflow-x: auto;
        margin: 5rem 6rem;
        width: 80vw;
      }
   }

  @media (min-width: 360px) and (max-width: 768px) {
  .coin-app {
    margin: 2rem auto;
    width: 100%;
    justify-content: space-evenly;
  }
  .coin-input {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    justify-content: space-evenly;
    /* margin: 2rem; */
  }
}

 @media (min-width: 1025px) and (max-width: 1366px) {
  .coin-app {
    /* overflow-x: auto; */
    margin: 5rem auto;
    width: 80vw;
  }
}